In [2]:
import pandas as pd
import numpy as np

In [4]:
imports = pd.read_csv('resources/consumer_spending.csv')
#imports.set_index('Product',inplace=True)
# imports.index.names = ['Year']
#imports = imports.T
#imports.index.names = ['Year']
#imports

In [14]:
imports

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1997,1998,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"""00000""",United States,,SAPCE1,1.0,...,Personal consumption expenditures,Millions of current dollars,5536790.1,5877248.2,...,11388233.3,11874450.4,12297437.8,12726848.8,13290625.5,13934441.7,14417614.0,14206231.3,16042964.3,17511744.6
1,"""00000""",United States,,SAPCE1,2.0,...,Goods,Millions of current dollars,2006505.5,2108439.4,...,3742183.5,3886577.1,3955129.8,4033036.2,4212214.2,4414207.9,4529163.6,4713125.5,5506628.1,5997039.4
2,"""00000""",United States,,SAPCE1,3.0,...,Durable goods,Millions of current dollars,715529.6,779293.4,...,1191785.7,1247260.2,1315793.6,1356495.3,1415910.6,1488830.8,1522706.4,1628895.6,2006405.4,2128941.1
3,"""00000""",United States,,SAPCE1,4.0,...,Motor vehicles and parts,Millions of current dollars,293082.5,320204.7,...,422128.5,451591.4,490732.9,504623.8,529413.3,549997.9,545066.1,547007.7,700771.0,730804.7
4,"""00000""",United States,,SAPCE1,5.0,...,Furnishings and durable household equipment,Millions of current dollars,160490.2,173579.1,...,263303.9,275462.5,292690.6,306047.0,319184.6,335952.9,346330.6,378493.6,449281.2,477426.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1439,"""98000""",Far West,8,SAPCE1,24.0,...,Less: Receipts from sales of goods and serv...,Millions of current dollars,63483.1,66529.7,...,172577.7,179028.7,190208.6,200847.9,209801.4,221993.6,236304.5,226648.7,253283.1,263030.8
1440,Note: See the included footnote file.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1441,SAPCE1: Personal consumption expenditures (PCE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1442,"Last updated: October 4, 2023-- new statistics...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1443,U.S. Bureau of Economic Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN