In [1]:
import numpy as np
import pandas as pd
import os
import warnings
from pathlib import Path
warnings.filterwarnings('ignore')

In [2]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.types import StructField, StringType, IntegerType, StructType
import time

#create a session
spark = SparkSession.builder\
    .appName('SparkSQL')\
    .config('spark.sql.debug.maxToStringFields', 2000)\
    .config('spark.driver.memory', '2g')\
    .getOrCreate()

from pyspark import SparkFiles

# filePath = Path(r'/Users/flynnlives/Documents/GitHub/Project_4_Group_2/resources/spending_2005-2022.csv')
# spark.sparkContext.addFile(filePath)

cols = ['Chicago', 'Detroit', 'Minneapolis-St.Paul','Cleveland', 'St. Louis', 'New York',
       'Philadelphia', 'Boston','Pittsburgh', 'Washington, D.C.', 'Baltimore', 'Atlanta',
       'Miami', 'Dallas-Fort Worth', 'Houston', 'Los Angeles',
       'San Francisco', 'San Diego','Portland', 'Seattle', 'Honolulu', 'Anchorage', 'Phoenix', 'Denver','Year', 'Tampa']

schema = [StructField('Item', StringType(), True)]
for i in cols:
    schema.append(StructField(i, IntegerType(), True))
schema


final = StructType(fields=schema)
final

consumerSpendDF = spark.read.csv('resources/spending_2005-2022.csv', sep=',', header=True, ignoreLeadingWhiteSpace=True, schema = final)
consumerSpendDF.show()

## Alternate way using inferschema

# consumerSpendDF = spark.read.csv('resources/spending_2005-2022.csv', sep=',', header=True, ignoreLeadingWhiteSpace=True, inferSchema = True)
# consumerSpendDF.show()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/11 19:28:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/12/11 19:28:16 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Item, Chicago, Detroit, Minneapolis-St.Paul, Cleveland, St. Louis, New York, Philadelphia, Boston, Pittsburgh, Washington, D.C., Baltimore, Atlanta, Miami, Dallas-Fort Worth, Houston, Los Angeles, San Francisco, San Diego, Portland, Seattle, Honolulu, Anchorage, Phoenix, Denver, Tampa, Year
 Schema: Item, Chicago, Detroit, Minneapolis-St.Paul, Cleveland, St. Louis, New York, Philadelphia, Boston, Pittsburgh, Washington, D.C., Baltimore, Atlanta, Miami, Dallas-Fort Worth, Houston, Los Angeles, San Francisco, San Diego, Portland, Seattle, Honolulu, Anchorage, Phoenix, Denver, Year, Tampa
Expected: Year but found: Tampa
CSV file: file:///Users/flynnlives/Documents/GitHub/Project_4_Group_2/resources/spending_2005-2022.csv

+--------------------+-------+-------+-------------------+---------+---------+--------+------------+------+----------+----------------+---------+-------+-----+-----------------+-------+-----------+-------------+---------+--------+-------+--------+---------+-------+------+----+-----+
|                Item|Chicago|Detroit|Minneapolis-St.Paul|Cleveland|St. Louis|New York|Philadelphia|Boston|Pittsburgh|Washington, D.C.|Baltimore|Atlanta|Miami|Dallas-Fort Worth|Houston|Los Angeles|San Francisco|San Diego|Portland|Seattle|Honolulu|Anchorage|Phoenix|Denver|Year|Tampa|
+--------------------+-------+-------+-------------------+---------+---------+--------+------------+------+----------+----------------+---------+-------+-----+-----------------+-------+-----------+-------------+---------+--------+-------+--------+---------+-------+------+----+-----+
|Meats, poultry, f...|    815|   1047|                713|      726|      854|    1109|         963|   998|       681|             766|      737|    750| 1029|              805|    776|        976|          888|      761|     783|    840|    1090|      846|    859|   886|NULL| 2005|
|Cereals and baker...|    473|    545|                493|      391|      494|     568|         522|   579|       399|             407|      374|    364|  507|              489|    422|        492|          519|      458|     453|    475|     556|      457|    470|   511|NULL| 2005|
|      Dairy products|    365|    405|                458|      320|      395|     462|         408|   410|       331|             337|      275|    255|  470|              414|    338|        411|          445|      404|     432|    457|     335|      437|    415|   428|NULL| 2005|
|Fruits and vegeta...|    609|    635|                600|      455|      536|     766|         611|   686|       460|             597|      448|    502|  736|              579|    556|        749|          772|      606|     650|    666|     831|      605|    632|   619|NULL| 2005|
|  Other food at home|   1192|   1333|               1303|      896|     1173|    1111|        1116|  1304|       915|             949|      820|    804| 1052|             1273|   1025|       1248|         1285|     1233|    1239|   1469|    1419|     1369|   1222|  1344|NULL| 2005|
| Food away from home|   3002|   2815|               3282|     1738|     2814|    3269|        2861|  3247|      2420|            2776|     1670|   2820| 1729|             2867|   2744|       3185|         3672|     2976|    2820|   2996|    3858|     2698|   2835|  2462|NULL| 2005|
| Alcoholic beverages|    581|    380|                750|      435|      738|     553|         567|   834|       387|             551|      354|    337|  272|              540|    430|        485|          628|      613|     526|    781|     463|      636|    585|   635|NULL| 2005|
|             Housing|  18962|  16490|              19341|    13349|    14409|   20065|       15915| 17805|     12031|           21523|    14714|  14346|14807|            16706|  16609|      19911|        22885|    21484|   16039|  17483|   17400|    18764|  14719| 15772|NULL| 2005|
|Apparel and services|   2318|   2251|               2472|     1156|     2015|    2858|        2279|  1929|      1747|            2224|     1641|   1744|  954|             2228|   2265|       2386|         2382|     1935|    1822|   1833|    2157|     1820|   1876|  1755|NULL| 2005|
|      Transportation|   8875|   9246|               8550|     6095|     8649|    7581|        8084|  8586|      7456|            7876|     5799|   6044| 6282|             8838|  10326|      10972|         9518|    11301|    8845|   9491|    9921|    12596|  10549|  8646|NULL| 2005|
|          Healthcare|   2933|   2261|               3100|     2600|     2980|    2412|        2254|  2624|      2528|            2510|     2215|   1837| 2003|             3027|   2942|       2275|         2773|     3038|    2693|   2910|    2600|     3397|   2890|  2724|NULL| 2005|
|       Entertainment|   2629|   2619|               3656|     2213|     2477|    2330|        1895|  2347|      2102|            2632|     1696|   2079| 1412|             2111|   2338|       2719|         2938|     2653|    3057|   3002|    3126|     3420|   2355|  3227|NULL| 2005|
|Personal care pro...|    664|    568|                700|      439|      563|     687|         643|   591|       479|             637|      507|    397|  516|              767|    746|        798|          664|      805|     578|    625|     772|      615|    666|   636|NULL| 2005|
|             Reading|    162|    149|                179|      147|      127|     144|         132|   195|       144|             166|       80|     65|   33|              118|    129|        158|          212|      192|     188|    214|     128|      218|    132|   144|NULL| 2005|
|           Education|   1456|   1140|               1296|      719|     1370|    1643|        1235|  1744|       879|            1610|      998|    773|  576|              921|   1061|        960|         1107|     1245|    1200|   1217|    1320|      842|    739|  1573|NULL| 2005|
|Tobacco products ...|    346|    480|                346|      364|      348|     265|         275|   287|       465|             188|      219|    142|  141|              228|    246|        179|          143|      136|     344|    236|     241|      440|    373|   308|NULL| 2005|
|       Miscellaneous|    920|    895|               1177|      926|      699|    1064|         729|   599|       662|             847|      395|    421|  455|              783|    879|        848|         1014|      940|    1303|   1004|     861|     1227|    786|  1010|NULL| 2005|
|  Cash contributions|   2969|   1528|               2275|     1027|     2177|    1168|        1227|  1063|      1817|            1667|     1228|   1047|  852|             1855|   2677|       1272|         1607|     2520|    1775|   2070|    1112|     1853|   1662|  1624|NULL| 2005|
|Personal insuranc...|   5665|   6430|               8210|     4478|     5546|    6068|        5573|  5851|      3989|            7713|     5046|   5265| 3846|             6090|   6488|       5736|         7538|     6507|    5565|   6256|    6746|     7187|   5243|  5689|NULL| 2005|
|Meats, poultry, f...|    879|    931|                564|      840|     NULL|     989|         834|   866|      NULL|             687|      743|    661|  910|              805|    784|        914|          965|      711|    NULL|    743|    NULL|     NULL|    894|  NULL|NULL| 2006|
+--------------------+-------+-------+-------------------+---------+---------+--------+------------+------+----------+----------------+---------+-------+-----+-----------------+-------+-----------+-------------+---------+--------+-------+--------+---------+-------+------+----+-----+
only showing top 20 rows

23/12/11 19:28:24 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [3]:
consumerSpendDF.printSchema()

root
 |-- Item: string (nullable = true)
 |-- Chicago: integer (nullable = true)
 |-- Detroit: integer (nullable = true)
 |-- Minneapolis-St.Paul: integer (nullable = true)
 |-- Cleveland: integer (nullable = true)
 |-- St. Louis: integer (nullable = true)
 |-- New York: integer (nullable = true)
 |-- Philadelphia: integer (nullable = true)
 |-- Boston: integer (nullable = true)
 |-- Pittsburgh: integer (nullable = true)
 |-- Washington, D.C.: integer (nullable = true)
 |-- Baltimore: integer (nullable = true)
 |-- Atlanta: integer (nullable = true)
 |-- Miami: integer (nullable = true)
 |-- Dallas-Fort Worth: integer (nullable = true)
 |-- Houston: integer (nullable = true)
 |-- Los Angeles: integer (nullable = true)
 |-- San Francisco: integer (nullable = true)
 |-- San Diego: integer (nullable = true)
 |-- Portland: integer (nullable = true)
 |-- Seattle: integer (nullable = true)
 |-- Honolulu: integer (nullable = true)
 |-- Anchorage: integer (nullable = true)
 |-- Phoenix: integer (nullable = true)
 |-- Denver: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Tampa: integer (nullable = true)

In [4]:
consumerSpendDF.createOrReplaceTempView('consumerSpend')

In [17]:
start_time = time.time()

spendYear = spark.sql("""
select 
    year
from consumerSpend
where `Los Angeles` >=10000
order by year desc
""").show()
### need to use ` (backtick) for spaces

print("--- %s seconds ---" % (time.time() - start_time))

+----+
|year|
+----+
|2022|
|2022|
|2021|
|2021|
|2020|
|2020|
|2019|
|2019|
|2018|
|2017|
|2016|
|2016|
|2015|
|2014|
|2013|
|2012|
|2011|
|2010|
|2009|
|2008|
+----+
only showing top 20 rows

--- 0.11617207527160645 seconds ---

In [3]:
os.listdir('spendings')

['cu-msa-south-2-year-average-2013.xlsx',
 'cu-msa-midwest-2-year-average-2019.xlsx',
 'cu-msa-south-2-year-average-2005.xlsx',
 'cu-msa-northeast-2-year-average-2021.xlsx',
 'cu-msa-west-2-year-average-2016.xlsx',
 'cu-msa-midwest-2-year-average-2015.xlsx',
 'cu-msa-west-2-year-average-2020.xlsx',
 'cu-msa-south-2-year-average-2009.xlsx',
 'cu-msa-northeast-2-year-average-2017.xlsx',
 'cu-msa-northeast-2-year-average-2016.xlsx',
 'cu-msa-west-2-year-average-2021.xlsx',
 'cu-msa-south-2-year-average-2008.xlsx',
 'cu-msa-midwest-2-year-average-2014.xlsx',
 'cu-msa-west-2-year-average-2017.xlsx',
 'cu-msa-northeast-2-year-average-2020.xlsx',
 'cu-msa-midwest-2-year-average-2022.xlsx',
 'cu-msa-south-2-year-average-2012.xlsx',
 'cu-msa-midwest-2-year-average-2018.xlsx',
 'cu-msa-northeast-2-year-average-2007.xlsx',
 'cu-msa-midwest-2-year-average-2013.xlsx',
 'cu-msa-south-2-year-average-2019.xlsx',
 'cu-msa-midwest-2-year-average-2005.xlsx',
 'cu-msa-northeast-2-year-average-2011.xlsx',
 'cu-msa-south-2-year-average-2015.xlsx',
 'cu-msa-midwest-2-year-average-2009.xlsx',
 'cu-msa-west-2-year-average-2006.xlsx',
 'cu-msa-west-2-year-average-2010.xlsx',
 'cu-msa-west-2-year-average-2011.xlsx',
 'cu-msa-west-2-year-average-2007.xlsx',
 'cu-msa-midwest-2-year-average-2008.xlsx',
 'cu-msa-south-2-year-average-2014.xlsx',
 'cu-msa-south-2-year-average-2022.xlsx',
 'cu-msa-northeast-2-year-average-2010.xlsx',
 'cu-msa-midwest-2-year-average-2012.xlsx',
 'cu-msa-south-2-year-average-2018.xlsx',
 'cu-msa-northeast-2-year-average-2006.xlsx',
 'cu-msa-south-2-year-average-2021.xlsx',
 'cu-msa-west-2-year-average-2008.xlsx',
 'cu-msa-northeast-2-year-average-2013.xlsx',
 'cu-msa-midwest-2-year-average-2007.xlsx',
 'cu-msa-midwest-2-year-average-2011.xlsx',
 'cu-msa-northeast-2-year-average-2005.xlsx',
 'cu-msa-west-2-year-average-2012.xlsx',
 'cu-msa-south-2-year-average-2017.xlsx',
 'cu-msa-northeast-2-year-average-2009.xlsx',
 'cu-msa-northeast-2-year-average-2008.xlsx',
 'cu-msa-south-2-year-average-2016.xlsx',
 'cu-msa-west-2-year-average-2005.xlsx',
 'cu-msa-west-2-year-average-2013.xlsx',
 'cu-msa-midwest-2-year-average-2010.xlsx',
 'cu-msa-midwest-2-year-average-2006.xlsx',
 'cu-msa-northeast-2-year-average-2012.xlsx',
 'cu-msa-south-2-year-average-2020.xlsx',
 'cu-msa-west-2-year-average-2009.xlsx',
 'cu-msa-west-2-year-average-2014.xlsx',
 'cu-msa-midwest-2-year-average-2021.xlsx',
 'cu-msa-northeast-2-year-average-2019.xlsx',
 'cu-msa-south-2-year-average-2007.xlsx',
 'cu-msa-south-2-year-average-2011.xlsx',
 'cu-msa-west-2-year-average-2018.xlsx',
 'cu-msa-northeast-2-year-average-2015.xlsx',
 'cu-msa-west-2-year-average-2022.xlsx',
 'cu-msa-midwest-2-year-average-2017.xlsx',
 'cu-msa-midwest-2-year-average-2016.xlsx',
 'cu-msa-northeast-2-year-average-2014.xlsx',
 'cu-msa-west-2-year-average-2019.xlsx',
 'cu-msa-south-2-year-average-2010.xlsx',
 'cu-msa-south-2-year-average-2006.xlsx',
 'cu-msa-northeast-2-year-average-2018.xlsx',
 'cu-msa-midwest-2-year-average-2020.xlsx',
 'cu-msa-northeast-2-year-average-2022.xlsx',
 'cu-msa-west-2-year-average-2015.xlsx']

In [4]:
startYear = 2005
endYear = 2022
regions = ['midwest','northeast','south','west']
years = np.arange(startYear,endYear+1)
catLst = ['Meats, poultry, fish, and eggs',
'Cereals and bakery products',
'Dairy products',
'Fruits and vegetables',
'Other food at home',
'Food away from home',
'Alcoholic beverages',
'Housing',
'Apparel and services',
'Transportation',
'Healthcare',
'Entertainment',
'Personal care products and services',
'Reading',
'Education',
'Tobacco products and smoking supplies',
'Miscellaneous',
'Cash contributions',
'Personal insurance and pensions']
### city names to replace
cityNames = {'Minneapolis-\nSt. Paul':'Minneapolis-St.Paul',
       'Washington,\nD.C.':'Washington, D.C.','Washington\nD.C.':'Washington, D.C.',
       'Dallas- Fort Worth':'Dallas-Fort Worth','Dallas-\nFort Worth':'Dallas-Fort Worth',
       'Los\nAngeles':'Los Angeles', 'San\nFrancisco':'San Francisco'}
### category names to replace
catNames = {'Health care':'Healthcare'}

In [5]:
final = pd.DataFrame()
for y in years:
    first = True
    for r in regions:
        temp = pd.read_excel(f'spendings/cu-msa-{r}-2-year-average-{y}.xlsx').dropna().reset_index(drop=True)
        temp.columns = temp.iloc[0]
        temp['Item'] = [i.strip() for i in temp['Item']]
        temp.set_index('Item',inplace=True)
        temp.rename(cityNames,axis='columns',errors='ignore',inplace=True)
        temp.rename(index=catNames,errors='ignore',inplace=True)  
        temp = temp.loc[catLst]     
        ### df is done
        if first:
            master = temp
            first = False
        else:
            master = pd.merge(master,temp,left_index=True,right_index=True,how ='outer')
    master['Year'] = np.full(master.shape[0],y)
    cols = [i for i in master.columns if 'All ' not in i]
    master = master[cols]
    ## save individual dfs
    master.to_csv(f'resources/spending_{y}.csv')
    final = pd.concat([final,master],axis = 0)
final
final.to_csv(f'resources/spending_{startYear}-{endYear}.csv')

In [6]:
master

,Chicago,Detroit,Minneapolis-St.Paul,St. Louis,New York,Philadelphia,Boston,"Washington, D.C.",Baltimore,Atlanta,...,Tampa,Los Angeles,San Francisco,San Diego,Seattle,Phoenix,Denver,Honolulu,Anchorage,Year
Item,,,,,,,,,,,,,,,,,,,,,
"Meats, poultry, fish, and eggs",1269,1184,1100,1170,1534,1269,1198,1391,1398,1260,...,1019,1311,1789,1210,1190,982,1239,1731,1576,2022
Cereals and bakery products,719,695,680,702,818,809,911,805,790,714,...,650,713,1053,720,705,604,605,1072,1145,2022
Dairy products,492,510,571,534,664,558,577,613,554,477,...,522,502,740,563,620,466,530,590,725,2022
Fruits and vegetables,1115,1055,1241,1045,1460,1237,1414,1261,1329,1204,...,906,1217,1958,1416,1368,870,1103,1703,1931,2022
Other food at home,2035,2051,2317,2252,2163,2252,2461,2488,2102,2096,...,1768,1937,2815,2334,2678,1892,1861,2699,3183,2022
Food away from home,3741,2968,3507,3817,4004,4366,4312,4768,4488,3322,...,3156,4495,4781,4205,3934,3517,4538,5146,3611,2022
Alcoholic beverages,907,655,1098,789,788,871,1100,929,692,600,...,799,720,998,900,1269,815,898,559,831,2022
Housing,27212,21746,27591,22255,31213,28453,31679,33285,26047,24914,...,23686,28300,41367,31853,33090,24843,30893,27799,25141,2022
Apparel and services,2534,1744,1823,1772,2699,3597,1807,1965,2296,2442,...,1516,2126,2199,2549,2398,1834,1781,1411,2083,2022
Transportation,9569,12566,10018,12262,10326,11247,11697,12162,14457,12354,...,11940,13112,12991,12619,14481,11736,12994,10103,13745,2022
Healthcare,5946,5567,6688,6071,5154,6958,6923,7001,6310,5450,...,6067,4768,6222,5134,5373,6445,6458,5133,5635,2022
Entertainment,3624,3855,4641,3434,3437,4367,4223,3975,3587,2828,...,3200,3199,3590,4793,6839,3811,4123,2425,5262,2022
Personal care products and services,1059,790,1075,1027,1056,959,1058,1373,1098,968,...,624,1020,905,1082,1123,1035,1180,767,732,2022
Reading,125,77,247,96,140,249,130,349,157,33,...,72,121,160,122,195,134,180,121,151,2022
Education,1686,1574,2496,854,2737,2592,3036,2378,896,1411,...,1319,1671,2613,1411,894,935,1893,1589,1088,2022
Tobacco products and smoking supplies,441,490,284,506,188,329,244,248,249,188,...,255,241,119,146,375,281,245,236,425,2022
Miscellaneous,998,1076,2063,1260,1009,1275,1526,1270,1226,793,...,973,1157,742,1112,1502,1298,1206,680,999,2022
Cash contributions,1474,1294,2810,2531,3036,4011,3042,4729,3696,1816,...,1397,1278,4283,2582,3320,1652,1682,1566,3412,2022
Personal insurance and pensions,9319,8968,12635,8805,10639,10496,12456,13179,10720,9666,...,7767,9137,12556,11546,12550,8600,10885,9634,11121,2022

In [7]:
master.columns

Index(['Chicago', 'Detroit', 'Minneapolis-St.Paul', 'St. Louis', 'New York',
       'Philadelphia', 'Boston', 'Washington, D.C.', 'Baltimore', 'Atlanta',
       'Miami', 'Dallas-Fort Worth', 'Houston', 'Tampa', 'Los Angeles',
       'San Francisco', 'San Diego', 'Seattle', 'Phoenix', 'Denver',
       'Honolulu', 'Anchorage', 'Year'],
      dtype='object', name=0)