In [18]:
import numpy as np
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')

In [19]:
os.listdir('spendings')

['cu-msa-midwest-2-year-average-2005.xlsx',
 'cu-msa-midwest-2-year-average-2006.xlsx',
 'cu-msa-midwest-2-year-average-2007.xlsx',
 'cu-msa-midwest-2-year-average-2008.xlsx',
 'cu-msa-midwest-2-year-average-2009.xlsx',
 'cu-msa-midwest-2-year-average-2010.xlsx',
 'cu-msa-midwest-2-year-average-2011.xlsx',
 'cu-msa-midwest-2-year-average-2012.xlsx',
 'cu-msa-midwest-2-year-average-2013.xlsx',
 'cu-msa-midwest-2-year-average-2014.xlsx',
 'cu-msa-midwest-2-year-average-2015.xlsx',
 'cu-msa-midwest-2-year-average-2016.xlsx',
 'cu-msa-midwest-2-year-average-2017.xlsx',
 'cu-msa-midwest-2-year-average-2018.xlsx',
 'cu-msa-midwest-2-year-average-2019.xlsx',
 'cu-msa-midwest-2-year-average-2020.xlsx',
 'cu-msa-midwest-2-year-average-2021.xlsx',
 'cu-msa-midwest-2-year-average-2022.xlsx',
 'cu-msa-northeast-2-year-average-2005.xlsx',
 'cu-msa-northeast-2-year-average-2006.xlsx',
 'cu-msa-northeast-2-year-average-2007.xlsx',
 'cu-msa-northeast-2-year-average-2008.xlsx',
 'cu-msa-northeast-2-year-average-2009.xlsx',
 'cu-msa-northeast-2-year-average-2010.xlsx',
 'cu-msa-northeast-2-year-average-2011.xlsx',
 'cu-msa-northeast-2-year-average-2012.xlsx',
 'cu-msa-northeast-2-year-average-2013.xlsx',
 'cu-msa-northeast-2-year-average-2014.xlsx',
 'cu-msa-northeast-2-year-average-2015.xlsx',
 'cu-msa-northeast-2-year-average-2016.xlsx',
 'cu-msa-northeast-2-year-average-2017.xlsx',
 'cu-msa-northeast-2-year-average-2018.xlsx',
 'cu-msa-northeast-2-year-average-2019.xlsx',
 'cu-msa-northeast-2-year-average-2020.xlsx',
 'cu-msa-northeast-2-year-average-2021.xlsx',
 'cu-msa-northeast-2-year-average-2022.xlsx',
 'cu-msa-south-2-year-average-2005.xlsx',
 'cu-msa-south-2-year-average-2006.xlsx',
 'cu-msa-south-2-year-average-2007.xlsx',
 'cu-msa-south-2-year-average-2008.xlsx',
 'cu-msa-south-2-year-average-2009.xlsx',
 'cu-msa-south-2-year-average-2010.xlsx',
 'cu-msa-south-2-year-average-2011.xlsx',
 'cu-msa-south-2-year-average-2012.xlsx',
 'cu-msa-south-2-year-average-2013.xlsx',
 'cu-msa-south-2-year-average-2014.xlsx',
 'cu-msa-south-2-year-average-2015.xlsx',
 'cu-msa-south-2-year-average-2016.xlsx',
 'cu-msa-south-2-year-average-2017.xlsx',
 'cu-msa-south-2-year-average-2018.xlsx',
 'cu-msa-south-2-year-average-2019.xlsx',
 'cu-msa-south-2-year-average-2020.xlsx',
 'cu-msa-south-2-year-average-2021.xlsx',
 'cu-msa-south-2-year-average-2022.xlsx',
 'cu-msa-west-2-year-average-2005.xlsx',
 'cu-msa-west-2-year-average-2006.xlsx',
 'cu-msa-west-2-year-average-2007.xlsx',
 'cu-msa-west-2-year-average-2008.xlsx',
 'cu-msa-west-2-year-average-2009.xlsx',
 'cu-msa-west-2-year-average-2010.xlsx',
 'cu-msa-west-2-year-average-2011.xlsx',
 'cu-msa-west-2-year-average-2012.xlsx',
 'cu-msa-west-2-year-average-2013.xlsx',
 'cu-msa-west-2-year-average-2014.xlsx',
 'cu-msa-west-2-year-average-2015.xlsx',
 'cu-msa-west-2-year-average-2016.xlsx',
 'cu-msa-west-2-year-average-2017.xlsx',
 'cu-msa-west-2-year-average-2018.xlsx',
 'cu-msa-west-2-year-average-2019.xlsx',
 'cu-msa-west-2-year-average-2020.xlsx',
 'cu-msa-west-2-year-average-2021.xlsx',
 'cu-msa-west-2-year-average-2022.xlsx']

In [20]:
startYear = 2005
endYear = 2022
regions = ['midwest','northeast','south','west']
years = np.arange(startYear,endYear+1)
catLst = ['Meats, poultry, fish, and eggs',
'Cereals and bakery products',
'Dairy products',
'Fruits and vegetables',
'Other food at home',
'Food away from home',
'Alcoholic beverages',
'Housing',
'Apparel and services',
'Transportation',
'Healthcare',
'Entertainment',
'Personal care products and services',
'Reading',
'Education',
'Tobacco products and smoking supplies',
'Miscellaneous',
'Cash contributions',
'Personal insurance and pensions']
### city names to replace
cityNames = {'Minneapolis-\nSt. Paul':'Minneapolis-St.Paul',
       'Washington,\nD.C.':'Washington, D.C.','Washington\nD.C.':'Washington, D.C.',
       'Dallas- Fort Worth':'Dallas-Fort Worth','Dallas-\nFort Worth':'Dallas-Fort Worth',
       'Los\nAngeles':'Los Angeles', 'San\nFrancisco':'San Francisco'}
### category names to replace
catNames = {'Health care':'Healthcare'}

In [23]:
final = pd.DataFrame()
for y in years:
    first = True
    for r in regions:
        temp = pd.read_excel(f'spendings/cu-msa-{r}-2-year-average-{y}.xlsx').dropna().reset_index(drop=True)
        temp.columns = temp.iloc[0]
        temp['Item'] = [i.strip() for i in temp['Item']]
        temp.set_index('Item',inplace=True)
        temp.rename(cityNames,axis='columns',errors='ignore',inplace=True)
        temp.rename(index=catNames,errors='ignore',inplace=True)  
        temp = temp.loc[catLst]     
        ### df is done
        if first:
            master = temp
            first = False
        else:
            master = pd.merge(master,temp,left_index=True,right_index=True,how ='outer')
    master['Year'] = np.full(master.shape[0],y)
    cols = [i for i in master.columns if 'All ' not in i]
    master = master[cols]
    ## save individual dfs
    master.to_csv(f'resources/spending_{y}.csv')
    final = pd.concat([final,master],axis = 0)
final
final.to_csv(f'resources/spending_{startYear}-{endYear}.csv')

In [24]:
master

,Chicago,Detroit,Minneapolis-St.Paul,St. Louis,New York,Philadelphia,Boston,"Washington, D.C.",Baltimore,Atlanta,...,Tampa,Los Angeles,San Francisco,San Diego,Seattle,Phoenix,Denver,Honolulu,Anchorage,Year
Item,,,,,,,,,,,,,,,,,,,,,
"Meats, poultry, fish, and eggs",1269,1184,1100,1170,1534,1269,1198,1391,1398,1260,...,1019,1311,1789,1210,1190,982,1239,1731,1576,2022
Cereals and bakery products,719,695,680,702,818,809,911,805,790,714,...,650,713,1053,720,705,604,605,1072,1145,2022
Dairy products,492,510,571,534,664,558,577,613,554,477,...,522,502,740,563,620,466,530,590,725,2022
Fruits and vegetables,1115,1055,1241,1045,1460,1237,1414,1261,1329,1204,...,906,1217,1958,1416,1368,870,1103,1703,1931,2022
Other food at home,2035,2051,2317,2252,2163,2252,2461,2488,2102,2096,...,1768,1937,2815,2334,2678,1892,1861,2699,3183,2022
Food away from home,3741,2968,3507,3817,4004,4366,4312,4768,4488,3322,...,3156,4495,4781,4205,3934,3517,4538,5146,3611,2022
Alcoholic beverages,907,655,1098,789,788,871,1100,929,692,600,...,799,720,998,900,1269,815,898,559,831,2022
Housing,27212,21746,27591,22255,31213,28453,31679,33285,26047,24914,...,23686,28300,41367,31853,33090,24843,30893,27799,25141,2022
Apparel and services,2534,1744,1823,1772,2699,3597,1807,1965,2296,2442,...,1516,2126,2199,2549,2398,1834,1781,1411,2083,2022
Transportation,9569,12566,10018,12262,10326,11247,11697,12162,14457,12354,...,11940,13112,12991,12619,14481,11736,12994,10103,13745,2022
Healthcare,5946,5567,6688,6071,5154,6958,6923,7001,6310,5450,...,6067,4768,6222,5134,5373,6445,6458,5133,5635,2022
Entertainment,3624,3855,4641,3434,3437,4367,4223,3975,3587,2828,...,3200,3199,3590,4793,6839,3811,4123,2425,5262,2022
Personal care products and services,1059,790,1075,1027,1056,959,1058,1373,1098,968,...,624,1020,905,1082,1123,1035,1180,767,732,2022
Reading,125,77,247,96,140,249,130,349,157,33,...,72,121,160,122,195,134,180,121,151,2022
Education,1686,1574,2496,854,2737,2592,3036,2378,896,1411,...,1319,1671,2613,1411,894,935,1893,1589,1088,2022
Tobacco products and smoking supplies,441,490,284,506,188,329,244,248,249,188,...,255,241,119,146,375,281,245,236,425,2022
Miscellaneous,998,1076,2063,1260,1009,1275,1526,1270,1226,793,...,973,1157,742,1112,1502,1298,1206,680,999,2022
Cash contributions,1474,1294,2810,2531,3036,4011,3042,4729,3696,1816,...,1397,1278,4283,2582,3320,1652,1682,1566,3412,2022
Personal insurance and pensions,9319,8968,12635,8805,10639,10496,12456,13179,10720,9666,...,7767,9137,12556,11546,12550,8600,10885,9634,11121,2022